@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">KKAE Technology Solutions</h1>

    <p class="lead"><span class="fa fa-computer-mouse"></span> Here at KKAE Technology Solutions we provide the needed tools for you technical needs. <span class="fa fa-computer-mouse"></span></p>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                <p><span class="fa fa-computer"></span><a asp-action="Privacy" asp-controller="Home"><ins> Products</ins></a></p>
                <a asp-action="Index" asp-controller="Products">
                    <img src="~/images/hardware.jpg" class="img-fluid rounded center-block" alt="Photo by Dan Cristian Pădureț: https://www.pexels.com/photo/blue-and-yellow-phone-modules-1476321/" />
                </a>
            </div>
            <div class="col-lg">
                <p><span class="fa fa-helmet-safety"></span><a asp-action="Privacy" asp-controller="Home"><ins> Privacy</ins></a></p>
                <a asp-action="Privacy" asp-controller="Home">
                    <img src="~/images/privacy.jpg" class="img-fluid rounded center-block" alt="Photo by Mati Mango: https://www.pexels.com/photo/numbers-projected-on-face-5952651/" />
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <p><span class="fa fa-computer-mouse"></span> Here at KKAE Technology Solutions we provide the needed tools for you technical needs. <span class="fa fa-computer-mouse"></span></p>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md text-center">
            We provide services that allow our clients to have the available devices to help run their businesses effectively.
        </div>
        <div class="col-md text-center">
            KKAE Technology Solutions has been around for over 5 years and we have made it our goal to develop effective relationships with our clients.
        </div>
        <div class="col-md text-center">
            The products we have avaliable such as desktops, laptops, hard drives, and many other items for your technology needs.
        </div>
    </div>
</div>
<br />
<br />